<nav>
    <div class = "site title">
        <a href="/" style="font-size: 80px;">Blog Guru</a>
        <p>A Blogging Application</p>
    </div>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About</a></li>
        <li><a href='/blogs/create'>Create New Blog</a></li>
    </ul>
</nav>