<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="not-found content">
    <h2 style="font-size:50px;text-align: center;margin-top: 300px;">OOPS,Page Not Found</h2>
  </div>
  
  <%- include('./partials/footer.ejs') %>
  
</body>
</html>